/* -------------------- CSS BY CHRISTINA CARRASQUILLA 2026 -------------------- */

/* IMPORTED FONTS */
@import url("https://use.typekit.net/oay7eai.css");

/* ---------------------------------------- CSS RESET ---------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* -------------------- HTML5 display-role reset for older browsers -------------------- */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------- ROOT VARIABLES ---------------------------------------- */
:root {
	--Inquiry-indigo: #373557;
    --Intelligence-blue: #3F83A3;
    --Access-ivory: #F6F1E9;
    --Systems-gray: #2F2F3A;
    --Infrastructure-gray: #D9D9D9;
    --Catalyst-orange: #FAA45E;
    --Potential: #FFFFFF;
}
/* ---------------------------------------- GLOBAL STYLES ----------------------------------------*/
/* -------------------- GLOBAL CONTAINERS -------------------- */
body {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    font-family: dolly-new, sans-serif;
    min-width:337px;
}
html, body {
    overflow-x: hidden;
    max-width: 100%;
}
header {
    background-color: var(--Intelligence-blue);
    padding-bottom: 1rem;
}
nav {
    background-color:var(--Access-ivory);
}
nav ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
nav li a[href="#top"] {
    border-radius:1rem 0 0 0;
    width:5rem;
    position:fixed;
    bottom:0;
    right:0;
}
footer {
    background-color: var(--Intelligence-blue);
    color: var(--Access-ivory);
}
footer {
    padding: 1rem 0;
}
.wrapper {
    width: 90%;
    max-width: 1205px;
    margin: 0 auto;
}
main > section:first-of-type {
    background-color: var(--Infrastructure-gray);
    padding-bottom: 2rem;
}
main > section:nth-of-type(2) {
    background-color: var(--Access-ivory);
    padding-bottom: 2rem;
}
main > section:first-of-type section, main > section:nth-of-type(2) section  {
    background-color: var(--Inquiry-indigo);
    margin: 1rem 0;
    border-radius: .5rem;
    color: var(--Potential);
    padding: 1rem;
}
main > section:nth-of-type(2) section {
    background-color: var(--Catalyst-orange);
    color: var(--Systems-gray);
}
svg {
    max-width: 100%;
    height: auto;
    display: block;
}
#social {
    text-align: center;
}
/* -------------------- GLOBAL TEXT -------------------- */
h1, h2, h3, h4 {
    font-family: lust, cursive;
}
h1 {
    font-size:3em;
    padding-top: 3rem;

}
h1 span {
    font-size:.75em;
    font-weight:normal;
    font-family: dolly-new, sans-serif;
}
h2 {
    font-size: 1.5em;
    padding-top: 3rem;
}
header h2 {
    padding-top:.5rem;
    font-family: dolly-new, sans-serif;
    color:var(--Potential);
}
h3 {
    font-size: 1.25em;
    padding-top: 1.5rem;
}
p {
    font-family: dolly-new, sans-serif;
    line-height: 1.5;
    font-size: 1em;
    color: var(--Systems-gray);
    padding: 1rem 0;
}
ul, iframe {
    padding: 1rem 0;
}
li {
    font-family: dolly-new, sans-serif;
    line-height: 1.5;
    font-size: 1em;
    color: var(--Systems-gray);
}
q {
    display: block;
    font-family: dolly-new, sans-serif;
    font-size: 2em;
    line-height: 1.5;
    padding: 2rem 0;
    color: var(--Inquiry-indigo);
}
strong {
    font-weight:bold;
}
#quote img {
    width:5.5rem;
    position:relative;
    top:2.5rem;
}
.highlight {
    font-weight:600;
    background-color:var(--Catalyst-orange);
    border-radius:.2rem;
    color:var(--Systems-gray);
    padding:.25em 0;
    line-height:2;
}
nav h2, #social h2, .hidden {
    visibility: hidden;
    height: 1px;
    width: 1px;
}
nav a#active {
    background-color: transparent;
    color: var(--Systems-gray);
    border-bottom: 3px solid var(--Systems-gray);
    border-radius: 0;
}
nav li a, #contact a {
    background-color: var(--Catalyst-orange);
    border-radius: .5rem;
    line-height: inherit;
    font-family: dolly-new, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.25em;
    color: var(--Systems-gray);
    padding: .5rem;
    display:flex;
    align-items:center;
    gap:.5rem;
    width:90%;
}
main a, footer a {
    margin: 1.5rem 0;
}
a[href="mailto:christina.carrasquilla@gmail.com"]  {
    margin: 1.5rem 0;
    max-width: 20rem;
}
nav li a:hover, main a:hover, #contact a:hover {
    background-color: var(--Potential);
}
#social svg:hover {
    fill: var(--Catalyst-orange);
}
footer li {
    color: var(--Potential);
}
main > section:first-of-type section p {
    color: var(--Potential);
}
#social a {
    background-color: transparent;
    padding: 0;
    display: inline-block;
}
/* -------------------- PAPER STYLES -------------------- */
#paper-title {
    font-family: dolly-new, sans-serif;
    font-size:2em;
    line-height:1.5;
}
article ul {
    list-style:disc;
    margin-left:3rem;
}
article ol {
    list-style:decimal;
    margin-left:1rem;
    margin-top: 1rem;
}
article ol li {
    margin-bottom: 1rem;
}
article a {
    color:var(--Intelligence-blue);
}
article a:hover {
    color:var(--Catalyst-orange);
}
article a:visited {
    color:var(--Inquiry-indigo);
} 
.author {
    text-transform:uppercase;
    font-size:1.25em;
}
.links-out, .links-out svg {
    display:inline-block;
    text-decoration: none;
}
.links-out{
    color:var(--Intelligence-blue);
    border-bottom:2px solid var(--Intelligence-blue);
    padding-bottom:.25rem;
}
.links-out:hover {
    border-bottom:2px solid var(--Catalyst-orange);
}
article, #transcript {
    max-width:800px
}
/* -------------------- VIDEO STYLES -------------------- */
video {
    border-radius:1rem;
    margin:2rem 0;
}
/* ---------------------------------------- MEDIA QUERY FOR MEDIUM STYLES---------------------------------------- */
@media screen and (min-width:550px) {
    nav ul {
        grid-template-columns: 1fr 1fr;
    }
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
    .card section:last-child:nth-child(odd) {
        grid-column: span 2;
    }
    footer .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #social {
        text-align: right;
    }
}
/* ---------------------------------------- MEDIA QUERY FOR LARGE STYLES ---------------------------------------- */
@media screen and (min-width:900px) {
    nav ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card section:last-child:nth-child(odd) {
        grid-column: span 1;
    }
}