/* -------------------- CSS BY CHRISTINA CARRASQUILLA 2026 -------------------- */

/* IMPORTED FONTS */
@import url("https://use.typekit.net/oay7eai.css");

/* ---------------------------------------- CSS RESET ---------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* -------------------- HTML5 display-role reset for older browsers -------------------- */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------- ROOT VARIABLES ---------------------------------------- */
:root {
	--Inquiry-indigo: #373557;
    --Intelligence-blue: #3F83A3;
    --Access-ivory: #F6F1E9;
    --Systems-gray: #2F2F3A;
    --Infrastructure-gray: #D9D9D9;
    --Catalyst-orange: #FAA45E;
    --Potential: #FFFFFF;
}
/* ---------------------------------------- GLOBAL STYLES ----------------------------------------*/
/* -------------------- BODY - HTML -------------------- */
body {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    font-family: dolly-new, sans-serif;
    min-width:337px;
}
html, body {
    overflow-x: hidden;
    max-width: 100%;
}
/* -------------------- SR-ONLY -------------------- */
.sr-only {
    position: absolute;
    transform: translateY(-100%);
    background:var(--Intelligence-blue);
    padding: 1rem;
    position: absolute;
    transition: transform 0.3s;
    font-size:1rem;
    color:var(--Catalyst-orange);
}
.sr-only:focus {
    transform: translateY(0%);
    outline:2px solid var(--Potential);
}
/* -------------------- HEADER -------------------- */
header {
    background-color: var(--Inquiry-indigo);
    color:var(--Potential);
    padding-bottom: 2rem;
}
h1 {
    font-size:3em;
    padding-top: 3rem;
}
h1 span {
    font-size:.75em;
    font-weight:normal;
    font-family: dolly-new, sans-serif;
}
header h2 {
    padding-top:.5rem;
    font-family: dolly-new, sans-serif;
    color:var(--Potential);
}
/* -------------------- NAV -------------------- */
nav {
    background-color:var(--Catalyst-orange);
}
nav label {
    cursor: pointer;
    display: inline-block;
    padding: 2rem 0 0;
    user-select: none;
}
label span {
    background-color:var(--Systems-gray);
    display: block;
    height: .25rem;
    position: relative;
    transition: background-color .3s ease-out;
    width: 2rem;
}
label span:before, label span:after {
    background:var(--Systems-gray);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: .75rem;
}
label span:after {
    top: -.75rem;
}
input {
    visibility:hidden;
    height:0;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}
nav ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: .25rem;
    overflow:hidden;
    max-height:0;
}
nav li a[href="#top"] {
    border-radius:1rem 0 0 0;
    width:5rem;
    position:fixed;
    bottom:0;
    right:0;
}
nav h2, #social h2, .hidden {
    visibility: hidden;
    height: 1px;
    width: 1px;
}
nav a#active {
    background-color: transparent;
    color: var(--Systems-gray);
    border-bottom: 3px solid var(--Systems-gray);
    border-radius: 0;
}
nav li a, #contact a {
    background-color: var(--Catalyst-orange);
    border-radius: .5rem;
    line-height: inherit;
    font-family: dolly-new, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.25em;
    color: var(--Systems-gray);
    padding: .5rem;
    display:flex;
    align-items:center;
    gap:.25rem;
    width:90%;
}
nav li a:hover, main a:hover, #contact a:hover {
    background-color: var(--Potential);
}
/* -------------------- .WRAPPER -------------------- */
.wrapper {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}
/* -------------------- #QUOTE -------------------- */
#quote {
    padding:2rem 0;
}
/* -------------------- MAIN -------------------- */
main > section:first-of-type {
    background-color: var(--Infrastructure-gray);
    padding-bottom: 2rem;
}
main > section:nth-of-type(2) {
    background-color: var(--Access-ivory);
    padding-bottom: 2rem;
}
main > section:first-of-type section, main > section:nth-of-type(2) section  {
    background-color: var(--Intelligence-blue);
    margin: 1rem 0;
    border-radius: .5rem;
    color: var(--Potential);
    padding: 1rem;
}
main > section:nth-of-type(2) section {
    background-color: var(--Catalyst-orange);
    color: var(--Systems-gray);
}
main a, footer a {
    margin: 1.5rem 0;
}
main > section:first-of-type section p {
    color: var(--Potential);
}
/* -------------------- FOOTER -------------------- */
footer {
    background-color: var(--Inquiry-indigo);
    color: var(--Access-ivory);
}
footer {
    padding: 1rem 0;
}
footer li {
    color: var(--Potential);
}
a[href="mailto:christina.carrasquilla@asu.edu"]  {
    margin: 1.5rem 0;
    max-width: 20rem;
}
/* -------------------- #SOCIAL -------------------- */
#social {
    text-align: center;
}
#social svg:hover {
    fill: var(--Catalyst-orange);
}
#social a {
    background-color: transparent;
    padding: 0;
    display: inline-block;
}
/* -------------------- ELEMENTS -------------------- */
h1, h2, h3, h4 {
    font-family: lust, cursive;
}

h2 {
    font-size: 1.75em;
    padding-top: 2rem;
    line-height:1.25;
}
h3 {
    font-size: 1.25em;
    padding-top: 1.5rem;
}
p {
    font-family: dolly-new, sans-serif;
    line-height: 1.5;
    font-size: 1em;
    color: var(--Systems-gray);
    padding: 1rem 0;
}
ul, iframe {
    padding: 1rem 0;
}
li {
    font-family: dolly-new, sans-serif;
    line-height: 1.5;
    font-size: 1em;
    color: var(--Systems-gray);
}
q {
    display: block;
    font-family: dolly-new, sans-serif;
    font-size: 2em;
    line-height: 1.5;
    padding: 1rem 0;
    color: var(--Inquiry-indigo);
}
i {
    font-style:italic;
}
strong {
    font-weight:bold;
}
.highlight {
    font-weight:600;
    background-color:var(--Catalyst-orange);
    border-radius:.2rem;
    color:var(--Systems-gray);
    padding:.25em 0;
    line-height:2;
}
svg {
    max-width: 100%;
    height: auto;
    display: block;
}
/* -------------------- READ -------------------- */
#paper-title {
    font-family: dolly-new, sans-serif;
    font-size:2em;
    line-height:1.5;
}
article ul {
    list-style:disc;
    margin-left:3rem;
}
article ol {
    list-style:decimal;
    margin:1rem 0 1rem 1rem;
}
article a {
    color:var(--Intelligence-blue);
}
article a:hover {
    color:var(--Catalyst-orange);
}
article a:visited {
    color:var(--Inquiry-indigo);
} 
.author {
    text-transform:uppercase;
    font-size:1.25em;
}
.links-out, .links-out svg {
    display:inline-block;
    text-decoration: none;
}
.links-out{
    color:var(--Intelligence-blue);
    border-bottom:2px solid var(--Intelligence-blue);
    padding-bottom:.25rem;
}
.links-out:hover {
    border-bottom:2px solid var(--Catalyst-orange);
}
/* -------------------- LISTEN -------------------- */
video {
    border-radius:1rem;
    margin:2rem 0;
    width:100%;
    max-width:600px;
    height:100%;
}
/* ---------------------------------------- MEDIA QUERY FOR MEDIUM STYLES---------------------------------------- */
@media screen and (min-width:550px) {
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
    .card section:last-child:nth-child(odd) {
        grid-column: span 2;
    }
    footer .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #social {
        text-align: right;
    }
}
/* ---------------------------------------- MEDIA QUERY FOR FULL NAV---------------------------------------- */
@media screen and (min-width:730px) {
    nav ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        overflow:visible;
        position:relative;
        bottom:3rem;
    }
    label, label span, input {
        visibility:hidden;
        height:0;
    }
}
/* ---------------------------------------- MEDIA QUERY FOR LARGE STYLES ---------------------------------------- */
@media screen and (min-width:900px) {
    .card {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card section:last-child:nth-child(odd) {
        grid-column: span 1;
    }
}